.contentDiv{
    display: flex;
    flex-wrap: wrap;
    height: 3300px;
    width: 100%;
    /*background-color: red;*/
    justify-content: center;
    align-content: flex-start;
    padding-top: 150px;

}
.phoneHeroDiv{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 580px;
    margin-top: 20px;
    justify-content: center;
    overflow: visible;
}
.phoneHeroDivBackground{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    height: 580px;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    overflow: visible;
}
.phoneHeroDivTop{
    display: flex;
    width: 100%;
    height: 40%;
}
.questionDiv{
    /*position: absolute;*/
    width: 354.5px;
    height: 225px;
    left: 343.5px;
    top: 199px;
    background: #C4C4C4;
}
.questionDiv {
    height: 190px;
    width: 290px;
    background: white;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    transform: translate(164px,-24px);
}

.questionDivPointer {
    height: 40px;
    width: 40px;
    background: white;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -22px;
    position: relative;
    left: calc(143.5px - 46px);
    top: calc(19px - 46px);
}

.blurred {
    background: gray;
    filter: blur(20px);
    position: relative;
    top: -315px;
    /* 	transform: scale(1.05); */
    z-index: -1;
}
.phoneHeroDivTop{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
}

.phoneHeroDivBottom{
    display: flex;
    width: 100%;
    height: 60%;
    overflow: visible;
    justify-content: end;
}
.heroDiv{
    display: flex;
    flex-wrap: wrap;
    /*left: auto;*/
    height: 400px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-100px,-50px);
}

.answersDiv{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    max-height: 100%;
    min-width: 70%;
    align-content: space-evenly;

}
.answerButton{
    width: 40%;
    height: 40%;
    border-radius: 20px;
    margin: auto;

}
.menuDiv{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 1100px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: red;
    justify-content: space-between;
    align-content: space-between;
}

.menuItemDiv{
    display: flex;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    cursor:pointer;
}

.menuItemDiv:hover{
    transition: 0.5s;
    transform: scale(1.1);
}