.contentDiv{
    display: flex;
    flex-wrap: wrap;
    height: 3000px;
    width: 100%;
    /*background-color: red;*/
    justify-content: center;
    align-content: flex-start;
    padding-top: 150px;

}
.phoneHeroDiv{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 580px;
    margin-top: 20px;
    justify-content: center;
    overflow: visible;
}
.phoneHeroDivBackground{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    height: 580px;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;
    overflow: visible;
}
.phoneHeroDivBackground::-webkit-scrollbar{
    width: 10px;
}
.phoneHeroDivBackground::-webkit-scrollbar-track{
    background: none;
}
.phoneHeroDivBackground::-webkit-scrollbar-thumb{
    background: #C53535;
}
.phoneHeroDivBackground::-webkit-scrollbar-thumb:hover{
    background: #8c2626;
}
.phoneHeroDivTop{
    display: flex;
    width: 100%;
    height: 40%;
}
.questionDiv {
    height: 190px;
    width: 290px;
    background: white;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    transform: translate(164px,-24px);
}

.questionDivPointer {
    height: 40px;
    width: 40px;
    background: white;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -22px;
    position: relative;
    left: calc(143.5px - 46px);
    top: calc(19px - 46px);
}

.blurred {
    background: gray;
    filter: blur(20px);
    position: relative;
    top: -315px;
    /* 	transform: scale(1.05); */
    z-index: -1;
}
.phoneHeroDivTop{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
}

.phoneHeroDivBottom{
    display: flex;
    width: 100%;
    height: 60%;
    overflow: visible;
    justify-content: end;
}
.heroDiv{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-100px,-50px);
}

.answersDiv{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    max-height: 100%;
    min-width: 70%;
    align-content: space-evenly;
    justify-content: center;
    overflow-x: hidden;
}
.answersDiv::-webkit-scrollbar{
    width: 10px;
}
.answersDiv::-webkit-scrollbar-track{
   background: none;
}
.answersDiv::-webkit-scrollbar-thumb{
    background: #C53535;
}
.answersDiv::-webkit-scrollbar-thumb:hover{
    background: #8c2626;
}
.answerButton{
    display: flex;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    margin: auto;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    font-weight: normal;

}
.answerButton:hover{
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    color: #C53535;
}
.deviceTypeSelectDiv{
    display: flex;
    width: 230px;
    height: 230px;
    border-radius: 130px;
    margin: auto;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: end;
    background-color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px;
    border: 3px solid #C53535;
}
.deviceTypeSelectDiv:hover{
    transition: 0.5s;
    border: 3px solid #C53535;
    transform: scale(1.1);
    cursor: pointer;
    color: #C53535;
}

.brandSelectDiv{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: end;
    background-color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    border: 3px solid #C53535;
}

.brandSelectDiv:hover{
    transition: 0.5s;
    border: 3px solid #C53535;
    transform: scale(1.1);
    cursor: pointer;
    color: #C53535;
}
.deviceSelectDiv{
    display: flex;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-top: 25px;
    padding-left: 10px;
    font-size: 22px;
    text-align: center;
    justify-content: left;
    align-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    border: 1px solid #C53535;
}
.deviceSelectDiv:hover{
    transition: 0.5s;
    border: 3px solid #C53535;
    transform: scale(1.1);
    cursor: pointer;
    color: #C53535;
}
#deviceDetailTitle{
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
#deviceDetailImg{
    display: flex;
    height: 300px;
    width: 30%;
    /*background-color: white;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: end;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
}
.deviceDetailInfoRowWrapper{
    display: flex;
    height: 5%;
    width: 100%;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.deviceDetailInfoRow{
    display: flex;
    height: 100%;
    width: 50%;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.deviceDetailInfoRowName{
    font-weight: bold;
}
.menuItemDivLink,.menuItemDivLink:visited,.menuItemDivLink:hover,.menuItemDivLink:active{
    text-decoration: none;
    font-size: 60px;
    color: #C53535;
    font-weight: bold;
}
.menuDiv{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 1100px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    align-content: space-between;
}

.menuItemDiv{
    display: flex;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menuItemDiv:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.meuItemDivBanner{
    display: flex;
    height: 30%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.splitterDiv{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-color: #C53535;
    justify-content: center;
}
.splitterDivText{
    display: flex;
    height: 100%;
    width: 30%;
    color: white;
    font-size: 35px;
    font-weight: bold;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.timerDiv{
    display: flex;
    height: 100%;
    width: 10%;
    font-size: 25px;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.timerDivIcon{
    display: flex;
    height: 100%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bounce {
    animation: bounce 2s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.splitterDivHero{
    display: flex;
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(210px,-50px);

}
.tutorialDivBackground{
    display: flex;
    height: 1400px;
    width: 100%;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
}

.tutorialDiv{
    display: flex;
    flex-wrap: wrap;
    height: 1200px;
    width: 1100px;
    margin-left: 50px;
    margin-right: 50px;
}

.tutorialDivLeft{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    align-content: space-between;
}

.tutorialDivStepWrapper{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
    border-radius: 50%;
    overflow: visible;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.tutorialDivStep{
    display: flex;
    height: 300px;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #C53535;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stepCounter{
    display: flex;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #C53535;
    transform: translate(0px,-60px);
}
.tutorialDivStepBanner{
    display: flex;
    width: 100%;
    height: 35%;
    background-color: #C53535;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}
.tutorialDivRight{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    align-content: space-between;
    align-items: center;
    justify-content: right;
}
.openingTimeDiv{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #C53535;
    overflow: hidden;
    justify-content: start;
    align-content: start;
}
.openingTimeDivInfo{
    display: flex;
    width: 100%;
    height: 15%;
    background-color: white;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
}
.openingTimeDivInfoText{
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.openingTimeDivInfoIcon{
    display: flex;
    height: 100%;
    width: 20%;
    margin-right: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.openingTimeTable{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.openingTimeTableDays{
    display: flex;
    height: 10%;
    width: 40%;
    align-items: center;
}
.openingTimeTableHours{
    display: flex;
    height: 14%;
    width: 40%;
    align-items: center;

}
.locationDiv{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid #C53535;
    overflow: hidden;
}
.locationDivInfo{
    display: flex;
    width: 100%;
    height: 15%;
    background-color: white;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
}
.locationDivInfoText{
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.locationDivInfoIcon{
    display: flex;
    height: 100%;
    width: 20%;
    margin-right: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}