.contentDiv{
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
    width: 100%;
    /*background-color: red;*/
    justify-content: center;
    align-content: flex-start;
    padding-top: 150px;

}
.prijzenlijstTitleDiv{
    display: flex;
    height: 10%;
    width: 100%;
    /*background-color: blue;*/
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.prijzenlijstTitle{
    display: flex;
    width: 35%;
    height: 85%;
    font-weight: bold;
    font-size: 4vw;
    color: #C53535;
    background-size: 5vw;
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*background-position-y: -15px;*/
    text-decoration: none;

}

.prijzenlijstInstructionDiv{
    display: flex;
    width: 100%;
    background-color: #c53535;
    color: white;
    height: 5%;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.prijzenlijstInstructionDivQuestion{
    display: flex;
    font-size: 30px;
    font-weight: bold;

}
#prijzenlijstinstruction{
    display: flex;
}

.prijzenlijstSelectionDiv{
    display: flex;
    height: 15%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    flex-direction: column;

}

.prijzenlijstSelectionOptionGroup{
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#prijzenlijstSelectionGroup1{
    display: flex;
}
#prijzenlijstSelectionGroup2{
    display: none;
    height: 100%;
    width: 80%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
#prijzenlijstSelectionGroup3{
    display: none;
    height: 100%;
    width: 80%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.prijzenlijstSelectionOptionDeviceType{
    display: flex;
    height: 16vw;
    width: 14vw;
    border-radius: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11vw;
    align-items: end;
    font-size: 2vw;
    font-weight: bold;
    justify-content: center;
}
.prijzenlijstSelectionOptionDeviceType:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}
.prijzenlijstSelectionOptionBrand{
    display: flex;
    height: 14vw;
    width: 14vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11vw;
    align-items: end;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 30px;
}
.prijzenlijstSelectionOptionBrand:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.prijzenlijstSelectionOptionDevice{
    display: flex;
    height: 25vw;
    width: 18vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13vw;
    align-items: end;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    margin: 30px;
}
.prijzenlijstSelectionOptionDevice:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}
#prijzenlijstSelectionGroup4{
    display: none;
    height: 100%;
    width: 80%;
    align-content: baseline;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#deviceDetailImg{
    display: flex;
    height: 400px;
    width: 100%;
    /*background-color: white;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: end;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 30px;
}
.deviceDetailInfoRowWrapper{
    display: flex;
    height: 5%;
    width: 100%;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.deviceDetailInfoRow{
    display: flex;
    height: 100%;
    width: 30%;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.deviceDetailInfoRowName{
    font-weight: bold;
}